# Computational Social Science for Organizational Research
## Introduction to MariaDB: A Crash Course

In this session, you'll get a crash course on relational databases, specifically MariaDB, which is an open-source version of MySQL. While less commonly used than programming languages like Python or R, relational databases are valuable tools for storing and manipulating large scale data, and in my view should be a staple for computational social scientists.

## What is MariaDB?
* MariaDB is a __relational database__
* A relational database is a system for storing data that centers on __four key organizing structures__
 * __Rows__ store records or cases
     * Each row should be identified by a __unique key__ (or "primary" key)
 * __Columns__ store attributes or variables
 * A set of rows and columns together define a __table__
     * Within a database, each table should usually record data about distinct entity types (e.g., firms, people)
 * __Databases__ are collections of related tables

## Why should you use MariaDB?
* Most people in our field tend to use tools like __Stata__ or __Excel__ for data management
* But Stata and Excel are not designed to be data management tools, and consequently, most researchers __stretch them beyond their limits__
 * This is increasingly true as projects using __"big" data__ are becoming more common
* MariaDB is designed __from the ground up__ for data management, which gives it many advantages over other tools
  * __Speed__ (access and manipulate data quickly)
  * __Scale__ (manage projects with millions or billions of records)
  * __Storage__ (keep one copy of your data, minimize possibility of errors, use only what you need)
  * __Integrity__ (identify errors in your data quickly, and prevent them from occurring in the first place)
* In addition, MariaDB is designed to "play nicely" with __many other data tools,__ which greatly extends its scope and power
  * For example, later in this notebook, we'll work on integrating __MariaDB__ and __Python.__

## How do you do things with MariaDB?
* More than just letting you __store your data,__ MariaDB also lets you __do things__ more actively
* In SQL land, you act on your data by running __queries__ (hence the name, __S__ tructured __Q__ uery __L__ anguage)
* Probably __90%__ of what you do in MariaDB will consist of running some combination of the following types of __queries__
  * `select` queries are for viewing records
  * `update` queries are for updating existing records
  * `insert` queries are for adding new records
* Other common queries include
  * `create database` queries are for creating new databases
  * `create table` queries are for creating new tables
  * `join` queries are for linking across tables

Here are a few quick __examples__ that bring together some of these queries (and a few more). To run these queries, you'll need to start MariaDB. From the Terminal (macOS) or Command Prompt (Windows), you can do so like this (where `USERNAME` is your username):

`mysql -u USERNAME -p`

You can also use a GUI based tool like MySQLWorkbench.

First, let's create a database.

In [ ]:
-- create database
create schema my_database 
default character set utf8mb4 
collate utf8mb4_bin;

In [ ]:
-- create a table for firms
drop table if exists my_database.firms;
create table my_database.firms
(firm_id int(11) not null,
year int(11) not null,
state varchar(2) null,
profits double null,
treated int(11) null,
primary key (firm_id, year));

In [ ]:
-- insert query
insert into my_database.firms (firm_id, year, state, profits) values (1, 1999, 'MN', 2),
                                                                     (1, 2000, 'MN', -2),
                                                                     (1, 2001, 'MN', 10),
                                                                     (1, 2002, 'MN', 2),
                                                            
                                                                     (2, 1999, 'VA', 3.6),
                                                                     (2, 2000, 'VA', 40),
                                                                     (2, 2001, 'VA', 8),
                                                                     (2, 2002, 'VA', 3),
                                                            
                                                                     (3, 1999, 'MN', -0.2),
                                                                     (3, 2000, 'MN', -20),
                                                                     (3, 2001, 'MN', -8),
                                                                     (3, 2002, 'MN', -100),
 
                                                                     (4, 1999, 'OH', 0),
                                                                     (4, 2000, 'OH', null),
                                                                     (4, 2001, 'OH', null),
                                                                     (4, 2002, 'OH', null);

In [ ]:
-- select query
select *
from my_database.firms;

In [ ]:
-- update query
update my_database.firms
set treated = 1
where year > 2000
and state in ('MN','OH');

In [ ]:
-- create a table for states
create table my_database.states
(state varchar(2) not null,
population double null,
primary key (state));

In [ ]:
-- insert query
insert into my_database.states (state, population) values ('MN', 5.577),
                                                          ('VA', 8.47),
                                                          ('OH', 11.66);

In [ ]:
-- join query
select *
from my_database.firms,
     my_database.states
where firms.state = states.state;

## On to real data!
We're moving very quickly---don't worry if you feel a bit lost. In my experience, the best way to learn any kind of programming language or tool is to simply get your hands dirty and start working with real data. You'll feel more motivated and get a better sense for how the tool may be useful in the real world.

We're going to focus on fiddling with some data on granted patents from the U.S. Patent & Trademark Office (USPTO), available in the Patents View database here: (http://www.patentsview.org/download/). Make sure to check out the codebook (see the link on the left side of the page), which, helpfully, tells you which data fields you should use to define your tables when loading the data into MariaDB.

Download the following files and extract them to a directory
* g_patent (https://s3.amazonaws.com/data.patentsview.org/download/g_patent.tsv.zip)
* g_assignee_disambiguated (https://s3.amazonaws.com/data.patentsview.org/download/g_inventor_disambiguated.tsv.zip)

Run the following queries to get the data loaded.

In [ ]:
-- create database
create schema pv 
default character set utf8mb4 
collate utf8mb4_bin;

In [ ]:
-- create a table to hold the patent data
drop table if exists pv.g_patent;
create table pv.g_patent (
patent_id varchar(20) not null,
patent_type varchar(100) null default null,
patent_date date null default null,
patent_title mediumtext null default null,
patent_abstract mediumtext null default null,
wipo_kind varchar(10) null default null,
num_claims int null default null,
withdrawn int null default null,
filename varchar(120) null default null,
primary key (patent_id))
engine='aria' transactional= 0;

In [ ]:
-- load the g_patent data
set global local_infile = 'on';
load data local infile 'g_patent.tsv' 
  into table pv.g_patent 
  fields 
     terminated by '\t' 
     optionally enclosed by '"'
  lines terminated by '\n' 
  ignore 1 lines
  (@patent_id,
   @patent_type,
   @patent_date,
   @patent_title,
   @patent_abstract,
   @wipo_kind,
   @num_claims,
   @withdrawn,
   @filename)
   set patent_id=if(@patent_id='' or @patent_id='NULL', null, @patent_id),
       patent_type=if(@patent_type='' or @patent_type='NULL', null, @patent_type),
       patent_date=if(@patent_date='' or @patent_date='NULL', null, @patent_date),
       patent_title=if(@patent_title='' or @patent_title='NULL', null, @patent_title),
       patent_abstract=if(@patent_abstract='' or @patent_abstract='NULL', null, @patent_abstract),
       wipo_kind=if(@wipo_kind='' or @wipo_kind='NULL', null, @wipo_kind),
       num_claims=if(@num_claims='' or @num_claims='NULL', null, @num_claims),
       withdrawn=if(@withdrawn='' or @withdrawn='NULL', null, @withdrawn),
       filename=if(@filename='' or @filename='NULL', null, @filename);

In [ ]:
-- add indexes
alter table pv.g_patent add index patent_id_idx (patent_id),
                        add index patent_date_idx (patent_date);

In [ ]:
-- create a table to hold the g_inventor_disambiguated data
drop table if exists pv.g_inventor_disambiguated;
create table pv.g_inventor_disambiguated (
patent_id varchar(20) not null,
inventor_sequence int not null,
inventor_id varchar(36) null default null,
disambig_inventor_name_first mediumtext null default null,
disambig_inventor_name_last mediumtext null default null,
gender_code varchar(1) null default null,
location_id varchar(128) null default null,
primary key (patent_id, inventor_sequence))
engine='aria' transactional = 0;

In [ ]:
-- load the g_inventor_disambiguated data
set global local_infile = 'on';
load data local infile 'g_inventor_disambiguated.tsv' 
  into table pv.g_inventor_disambiguated 
  fields 
     terminated by '\t' 
  lines terminated by '\n' 
  ignore 1 lines
  (@patent_id, 
   @inventor_sequence, 
   @inventor_id, 
   @disambig_inventor_name_first, 
   @disambig_inventor_name_last,
   @gender_code,
   @location_id)
   set patent_id=if(@patent_id='' or @patent_id='NULL', null, @patent_id),
       inventor_sequence=if(@inventor_sequence='' or @inventor_sequence='NULL', null, @inventor_sequence),
       inventor_id=if(@inventor_id='' or @inventor_id='NULL', null, @inventor_id),
       disambig_inventor_name_first=if(@disambig_inventor_name_first='' or @disambig_inventor_name_first='NULL', null, @disambig_inventor_name_first),
       disambig_inventor_name_last=if(@disambig_inventor_name_last='' or @disambig_inventor_name_last='NULL', null, @disambig_inventor_name_last),
       gender_code=if(@gender_code='' or @gender_code='NULL', null, @gender_code),
       location_id=if(@location_id='' or @location_id='NULL', null, @location_id);

In [ ]:
-- add indexes
alter table pv.g_inventor_disambiguated add index patent_id_idx (patent_id);

## Pulling data from MariaDB into Python

Now that we've loaded the data, let's pull some subsets and work with them in Python. First we need to load some packages.

In [1]:
# load some packages
import pandas as pd
import pymysql.cursors
import sqlalchemy

We'll use a package called `sqlalchemy` to connect to MariaDB. To connect to our database using `sqlalchemy`, we need to pass the package a connection string. Assuming you're hosting your database locally, something like what you see below should do the trick. Note that while it's usually not a great idea to store your password in your code, since we're just using MariaDB locally to hold some dummy data it doesn't really matter. Same thing goes with using root as your user.

In [2]:
# set connection string
CONNECTION_STRING = "mysql+pymysql://root:password@localhost"

Now we can load some data directly from MariaDB into a pandas dataframe.

In [3]:
# connect to the database and pull the data
sql_engine = sqlalchemy.create_engine(CONNECTION_STRING)
df = pd.read_sql("""select *
                    from pv.g_patent
                    where year(patent_date) = 1980;""", con=sql_engine)
sql_engine.dispose()

In [4]:
# see what we got
df.head()

,patent_id,patent_type,patent_date,patent_title,patent_abstract,wipo_kind,num_claims,withdrawn,filename
0,4180869,utility,1980-01-01,Stockings,In a full length therapeutic stocking of the ...,A,10,0,pftaps19800101_wk01.zip
1,4180870,utility,1980-01-01,Universal-orthese,An orthesis has a lever system having fulcrum...,A,12,0,pftaps19800101_wk01.zip
2,4180871,utility,1980-01-01,Pre-centered total wrist prosthesis,Total wrist prosthesis for restructuring a wr...,A,7,0,pftaps19800101_wk01.zip
3,4180873,utility,1980-01-01,Implanted acetabular prosthesis,A prosthetic device for repairing or replacin...,A,3,0,pftaps19800101_wk01.zip
4,4180867,utility,1980-01-01,Space enclosing member,Disclosed is a multipurpose space enclosing m...,A,16,0,pftaps19800101_wk01.zip

## Exercises

* Determine how many patents were __granted__ in the year 1980
* Find the most __prolific assignee__ (by name) in the year 1980
* On average, how many __claims__ do issued patents make by year?
  * Is there any __trend__ in this average?